<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="form-container" style="height: 470px;">
        <h1>Rail Connect</h1>
        <form method="post" action="/register">
            <div class="input-container ic1">
                <input type="text" name="fname" required class="input" placeholder=" ">
                <div class="cut"></div>
                <label for="fname" class="placeholder">Fullname</label>
                </div>
            <div class="input-container ic2">
            <input type="email" name="email" class="input" required placeholder=" ">
            <div class="cut cut-short"></div>
            <label for="email" class="placeholder">Email</label>
            </div>
            <div class="input-container ic2">
            <input type="password" name="pass" required class="input" min=8 placeholder=" ">
            <div class="cut"></div>
            <label for="pass" class="placeholder">Password</label>
            </div>
            <div>
            <input type="submit" class="submit" value="Register">
            </div>
        </form>
        <div class="atag" style="padding-top: 5%;">
            <a href="/login">Already have an account?</a>
        </div>
        {{#if error}}
        <h2 style="color:white">{{error}}</h2>
        {{/if}}
    </div>
</body>
</html>